import * as React from 'react'
import * as Styled from './{{componentName}}.styles'

interface I{{componentName}} {

}

const {{componentName}} = ({ }: I{{componentName}}) => {
  return (
    <Styled.{{componentName}}>

    </Styled.{{componentName}}>
  )
} 

export default {{componentName}}